.PostDetails{
    width: 80%;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
    min-height:400px;
    background-color: black;
    padding:20px 30px;
}

.Container{
    background-color: white;
    color:black;
    display: block;
    text-align: center;
    padding:10px 15px;
}

.Heading{
    background-color: black;
    padding:5px 10px 5px 15px;
    color:white;
    font-size:18px;
    text-align: left;
}

.Content{
    border:3px solid black;
    color:black;
    background-color: white;
    padding:5px 10px 5px 20px;
    text-align: left;
}